.fixed {
  background-color: #ffd3a0;
  position: fixed;
  inset: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
  position: fixed;
  user-select: none;
  width: calc(100vw - 2vmin);
  z-index: 10;
  mix-blend-mode: exclusion;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.location {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  color: white;
}
